body{
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #696969;
}

@media (min-width:1200px){
    .container{
        width: 1180px;
        margin:0 auto;
    }
}

body .ui-button {
    margin-bottom: 7px;
}

@media(min-width:1200px) {
    .container {
        width: 930px;
        margin: 0 auto;
    }
}

.col-id-header {
    width: 60px;
    text-align: right;
}

.col-id {
    width: 60px;
    text-align: right;
}

.col-nome-header {
    width: 150px;
    text-align: center;
}

.col-nome {
    width: 150px;
    text-align: center;
}

.col-logradouro-header {
    width: 150px;
    text-align: center;
}

.col-logradouro {
    width: 150px;
    text-align: center;
}

.col-num-header {
    width: 80px;
    text-align: center;
}

.col-num {
    width: 80px;
    text-align: right;
}

.col-compl-header {
    width: 100px;
    text-align: center;
}

.col-compl {
    width: 100px;
    text-align: center;
}

.col-bairro-header {
    width: 100px;
    text-align: center;
}

.col-bairro {
    width: 100px;
    text-align: right;
}

.col-cep-header {
    width: 120px;
    text-align: center;
}

.col-cep {
    width: 120px;
    text-align: right;
}

.col-cidade-header {
    width: 120px;
    text-align: center;
}

.col-cidade {
    width: 120px;
    text-align: right;
}

.col-cidade-header {
    width: 120px;
    text-align: center;
}

.col-cidade {
    width: 120px;
    text-align: right;
}

.col-estado-header {
    width: 70px;
    text-align: center;
}

.col-estado {
    width: 70px;
    text-align: right;
}

.col-ativo-header {
    width: 70px;
    text-align: center;
}

.col-ativo {
    width: 70px;
    text-align: right;
}

.col-acoes-header {
    width: 200px;
    text-align: center;
}

.col-acoes {
    width: 200px;
    text-align: center;
}